*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-image: url("https://iinfosec.com/graphics/network-intrusion-detection_201078825.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    color: #162229;

}

#container{
    background-color: rgba(64, 224, 208, 0.479);
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 50vh; */
    /* width: 600px; */
    padding: 10px;
    border-radius: 10px;
}
#innerContain{
    /* width: 600px; */
    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: pink; */
    
}
form{
    display: flex;
    flex-direction: column;
    background-color: turquoise;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-style: solid;
    border-color: #1622295e;
    width: 500px;
    padding: 5px;

}

.inputCont input {
    /* margin: 5px; */
    height:  30px;
    /* background-color: bisque; */
    float: right;
    border-radius: 5px;
    padding-left: 5px;
    
}

label{
    vertical-align: middle;
    text-align: center;
    margin: auto;
    /* background-color: aquamarine; */
    
}

#title{
    text-align: center;
    font-size: larger;
    background-color:turquoise;
    padding: 5px;
    margin-bottom: 5px;
    font-size: 30px;
    border-color: #1622295e;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-style: solid;
}

.inputCont{
    height: 30px;
    
    display: inline;
    margin: 4px;
    /* background-color: white; */
    padding: 5px;

}
.right{
    float: right;
}
#creat{
    float: none; 
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 50px; */
}
#create{
    height: 40px;
    width: 50%;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    padding-left: 5px;
}
#address{
    height: 80%;
}
#addCont{
    height: 70px;
}